body {
    font-family: 'Lato', sans-serif;
    background-color: rgb(197, 191, 180);
}

.stream-box {
    background-color: #f2efe8;
    border-radius: 10px;
    margin: 3px;
    min-height: 100px;
}

.box-title {
    background-color: #c2d4d8;
    border-radius: 10px;
    margin: 3px;
    min-height: 100px;
}

.stream-name {
    font-size: 2em;
    margin: 10px;
    color: #bbb6ad;
}

.stream-status {
    font-size : 0.4em;
    margin: 0;
    padding: 0;
}

.stream-logo {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    position: relative;
    top: 10%;
    left: 20px;
}

.streaming {
    color: black;
}

a {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

input {
    height: 50px;
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin: 20px 20px;
}

.btn-custom {
    height: 50px;
    border: none;
    margin: 5px 5px 10px 5px;
    padding: 0 10px;
    border-radius: 20px;
    font-size: 1.5em;
    text-align: center;
}

.btn-custom:active {
    outline: none;
    border: none;
}

.btn-current {
    height: 50px;
    border: 2px solid #83a6ad;;
    outline-style: none;
    margin: 5px 5px 10px 5px;
    border-radius: 20px;
    font-size: 1.5em;
    background-color: #c2d4d8;
}

.btn-current:focus {
    outline: 0;
    outline-style: none;
}



.img-small {
    height: 35px;
    width: 35px;
    opacity: 0.5;
    position: relative;
    left: 75%;
    top: 25px;
}

.center {
    align-content: center;
    justify-content: center;
    text-align: center;
}
